.gaonutosal {
  float: left;
  width: 37%;
  padding: 0 1em;
}

.pesontedan {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #472200;
  overflow: hidden;
}

.pesontedan input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.pesontedan label {
  border-radius: 20px;
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #FFF8BC;
  line-height: 3;
  cursor: pointer;
  font-size: 17px;
}

.pesontedan-content {
  max-height: 0;
  overflow: hidden;
  background: #FFF8BC;
  transition: max-height .40s;
  font-size: 14px;
  color: #472200;
}

.pesontedan-content {
  background: #FFF8BC;
  border-radius: 20px;
}
.pesontedan-content p {
  margin: 1em;
}
/* :checked */
.pesontedan input:checked ~ .pesontedan-content {
  max-height: 100vh;
}

/* Icon */
.pesontedan label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .40s;
  -o-transition: all .40s;
  transition: all .40s;
}
.pesontedan input[type=checkbox] + label::after {
  position: absolute;
  content: "+";
  line-height: 2;
  background: #FFE70B;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  color: white;
  font-weight: 700;
  margin-top: 10px;
  padding-bottom: 20px;
  margin-right: 10px;
}
.pesontedan input[type=radio] + label::after {
  content: "\25BC";
}
.pesontedan input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
.pesontedan input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}