@import "nullstyle.scss";

body
{
    font-family: Courier New;
}

img
{
    width: 240px;
    height: 240px;
}

header
{
    background: url("../img/header/background_logo.png");
    height: 146px;
    .header__container
    {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display:flex;
        justify-content:space-between;
        .header__left
        {
            width: 50%;
            position: relative;
            height: 320px;
            width: 320px;
            left: 84px;
            top: -87px;
            border-radius: 0px;
            background: url("../img/header/circle_logo.png") 0 0/contain no-repeat;
            .header__logo
            {
                img
                {
                    margin-top: 90px;
                    margin-left: 60px;
                    height: 115px;
                    width: 211px;
                    left: 138px;
                    top: 15px;
                }
            }   
        }
        .header__right
        {
            width: 50%;
            .header__buttons
            {
                margin-top: 40px;
                width: 100%;
                font-size: 25px;
                display:flex;
                justify-content:space-evenly;
                .button__button
                {
                    width: 80%;
                    height: 10%;
                    display:flex;
                    justify-content:space-evenly;
                    margin-left: auto;
                    margin-right: auto;
                    .button 
                    {
                        border: 1px solid #472200;
                        text-decoration: none;
                        display: inline-block;
                        width: 140px;
                        height: 45px;
                        line-height: 45px;
                        border-radius: 45px;
                        margin: 10px 20px;
                        font-size: 11px;
                        text-transform: uppercase;
                        text-align: center;
                        letter-spacing: 3px;
                        font-weight: 600;
                        color: #472200;
                        background: #FAFFC2;
                        box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
                        transition: .3s;
                    }
                    .button:hover 
                    {
                        background: #472200;
                        box-shadow: 0 15px 20px #47220085;
                        color: #FAFFC2;
                        transform: translateY(-7px);
                    }
                }
            }
        }
    }
}

.main
{
    background-image: url("../img/main/background.png");
    background-size: cover;
    .main__container
    {
        margin-left: auto;
        margin-right: auto;
        padding-top: 120px;
        width: 80%;
        .main__title
        {
            font-weight: 700;
            font-size: 45px;
            text-align: center;
            color: #472200;
            padding-bottom: 87px;
        }
        .main__info-1
        {
            width: 100%;
            .info__block
            {
                padding-bottom: 40px;
                display:flex;
                justify-content:space-evenly;
                .info__img img
                {
                    width: 750px;
                    height: 500px;
                }
                .info__text .subtitle
                {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 50px;
                    line-height: 96px;
                    display: flex;
                    align-items: center;
                    padding-left: 40px;
                    color: #472200;
                    margin-top: 100px;
                }
                .info__text .text
                {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 36px;
                    display: flex;
                    align-items: center;
                    margin-top: 100px;
                    color: #472200;
                    margin-right: 20px;
                }
                .info__text .text-1
                {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 36px;
                    display: flex;
                    align-items: center;
                    margin-top: 150px;
                    color: #472200;
                    margin-left: 20px;
                }
            }
        }
        .main__info-forgotten
        {
            margin-top: 30px;
            .info-forgotten__title
            {
                .info-forgotten-title
                {
                    font-family: 'Courier New';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 72px;
                    color: #472200;
                    text-align: center;
                    margin-bottom: 20px;
                }
            }
            .info-forgotten__karts
            {
                display:flex;
                justify-content:space-evenly;
                .kart-1
                {
                    margin-bottom: 30px;
                    width: 350px;
                    background-color: #FFFCE1;
                    .img-1
                    {
                        width: 350px;
                        height: 200px;
                    }
                    .img-2
                    {
                        margin-top: 30px;
                        width: 300px;
                        height: 1px;
                        margin-left: 20px;
                    }
                    .title
                    {
                        margin-top: 10px;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 29px;
                        color: #472200;
                        text-align: center;
                    }
                    .text
                    {
                        margin-top: 10px;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                        color: #472200;
                        margin-right: 10px;
                        margin-left: 15px;
                        height: 100px;
                    }
                    .button
                    {
                        width: 80%;
                        height: 10%;
                        display:flex;
                        justify-content:space-evenly;
                        margin-left: 39%;
                        button 
                        {
                            border: 1px solid #472200;
                            text-decoration: none;
                            display: inline-block;
                            width: 140px;
                            height: 30px;
                            line-height: 30px;
                            border-radius: 45px;
                            margin: 10px 20px;
                            font-size: 11px;
                            text-transform: uppercase;
                            text-align: center;
                            letter-spacing: 3px;
                            font-weight: 600;
                            color: #472200;
                            background: #FAFFC2;
                            box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
                            transition: .3s;
                        }
                        button:hover 
                        {
                            background: #472200;
                            box-shadow: 0 15px 20px #47220085;
                            color: #FAFFC2;
                            transform: translateY(-7px);
                        }
                    }
                }
            }
        }
        .main__title-2
        {
            padding-bottom: 20px;
            font-weight: 700;
            font-size: 48px;
            line-height: 72px;
            text-align: center;
            color: #472200;
        }
        .main__info-2
        {
            .info__block
            {
                .info__teather
                {
                    display:flex;
                    justify-content:space-evenly;
                    .teather__info
                    {
                        .minititle
                        {
                            font-size: 12px;
                            color: rgba(128, 128, 128, 0.400);
                        }
                        .info__block
                        {
                            margin-bottom: 80px;
                            margin-left: 30px;
                            background-color: #FFFCE1;
                            border-radius: 100px 5px 5px 100px;
                            display:flex;
                            justify-content:space-between;
                            .teather__text
                            {
                                width: 350px;
                                margin-top: 10px;
                                margin-left: 15px;
                                .text__title
                                {
                                    font-family: 'Montserrat';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 20px;
                                    line-height: 30px;
                                    color: #472200;
                                }
                                .text__subtitle
                                {
                                    font-family: 'Montserrat';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 30px;
                                    color: #472200;
                                }
                                .text__text
                                {
                                    font-family: 'Montserrat';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: #472200;
                                }
                            }                            
                        }
                    }
                }
            }
            .teather__info-1
            {
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                .minititle
                {
                    font-size: 12px;
                    color: rgba(128, 128, 128, 0.400);
                }
                .info__block
                {

                    margin-bottom: 80px;
                    margin-left: 30px;
                    background-color: #FFFCE1;
                    border-radius: 40% 5% 5% 40%;
                    //background-position: right 100px bottom 0px;
                    display:flex;
                    justify-content:space-between;
                    .teather__text
                    {
                        margin-top: 10px;
                        margin-left: 15px;
                        .text__title
                        {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 30px;
                            color: #472200;
                        }
                        .text__subtitle
                        {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 30px;
                            color: #472200;
                        }
                        .text__text
                        {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            color: #472200;
                        }
                    }                            
                }
            }
        }
        .main__info-3
        {
            .info__title-block
            {
                display:flex;
                justify-content:center;
                .title__left
                {
                    width: 300px;
                    height: 200px;
                }
                .title__middle
                {
                    width: 100%;
                    .main__title-3
                    {
                        font-family: 'Courier New';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 48px;
                        line-height: 72px;
                        color: #472200;
                        text-align: center;
                        padding-top: 100px;
                    }
                }
                .title__right
                {
                    width: 200px;
                    height: 200px;
                }
            }
            .info-3__block
            {
                margin-top: 100px;
                .navigaonusing
                {
                    .gaonutosal
                    {
                        width: 60%;
                        margin-left: 20%;
                    }
                    .pesontedan
                    {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

footer
{
    position: absolute;
    margin-top: 470px;
    width: 100%;
    .footer__blokcs
    {
        display: flex;
        margin-left: 64px;
        .blocks__left
        {
            width: 65%;
            .image img
            {
                width: 100%;
                height: 100%;
            }
        }
        .blocks__right
        {
            width: 35%;
            .text-block
            {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                .block-title .title
                {
                    font-family: 'Courier New';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 38px;
                    line-height: 58px;
                    color: #472200;
                    text-align: center;
                    padding-top: 20px;
                }
                input
                {
                    font-weight: 700;
                    color: #472200;
                    font-size: 16px;
                    text-align: center;
                    margin-left: 30%;
                    margin-top: 15px;
                    width: 40%;
                    border-radius: 35px;
                    height: 40px;
                    border: 1px solid #472200;
                }
                input:focus
                {
                    font-weight: 700;
                    border: 2px solid #FAFFC2;
                    color: #FAFFC2;
                    background: #472200;
                }
                .batton
                {
                    margin-top: 20px;
                    width: 100%;
                    height: 10%;
                    display:flex;
                    justify-content:space-evenly;
                    margin-left: auto;
                    margin-right: auto;
                    button 
                    {
                        border: 1px solid #472200;
                        text-decoration: none;
                        display: inline-block;
                        width: 200px;
                        height: 45px;
                        line-height: 45px;
                        border-radius: 45px;
                        margin: 10px 20px;
                        font-size: 11px;
                        text-transform: uppercase;
                        text-align: center;
                        letter-spacing: 3px;
                        font-weight: 600;
                        color: #472200;
                        background: #FAFFC2;
                        box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
                        transition: .3s;
                    }
                    button:hover 
                    {
                        background: #472200;
                        box-shadow: 0 15px 20px #47220085;
                        color: #FAFFC2;
                        transform: translateY(-7px);
                    }
                }
            }
        }
    }
}